:root {
  --primary-color: #004953;
  --secondary-color: #f46060;
  --accent-color: #033f53;
  --text-color: #3c559e;
  background-color: #3c559e;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #001225;
  text-shadow: 1px 1px #ddd;
  margin-top: 20px;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #1E90FF;
  text-shadow: 1px 1px #ddd;
  margin-bottom: 30px;
}


.game-info {
  display: flex;
  margin-bottom: 20px;
  color: var(--text-color);
}

.board {
  display: flex;
  flex-direction: column;
  border: 5px solid var(--secondary-color);
  margin-bottom: 20px;
}

.board-row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);
  position: relative;
  background-color: var(--accent-color);
  cursor: pointer;
}

.cell.empty:hover {
  background-color: var(--primary-color);
}

.cell.hit img,
.cell.miss img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ship-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.ship-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ship-item img {
  width: 50px;
  height: auto;
  margin-right: 50px;
}

.hit-indicators {
  display: flex;
}

.hit-indicator {
  border: 1px solid var(--primary-color);
  margin-right: 5px;
}

.hit-indicator.hit {
  background-color: var(--secondary-color);
}


.shiplist {
  display: flex;
  justify-content: center;
}

.ship-list {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hit-indicators {
  display: flex;
  align-items: center;
}

.hit-indicators > div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

/* Desktop view */
@media (min-width: 1024px) {
  .app {
    flex-direction: row;
    justify-content: center;
  }

  .game-info {
    flex-direction: column;
    margin-bottom: 0;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1023px) {
  .app {
    flex-direction: row;
    justify-content: center;
  }

  .game-info {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.ship-list {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
}

@media (max-width: 767px) {
  .app {
    flex-direction: column;
    align-items: center;
  }

  .game-info {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

hr {
  border-top: 1px solid var(--primary-color);
}
